body {
  font-family: Roboto, sans-serif;
}
#faqmain {
  display: flex;
  /* align-items: flex-start; */
  padding-top: 5px;
}
#faql {
  width: 24%;
  height: 90vh;
  /* margin: auto; */
  padding-top: 20px;
}
#faqr {
  width: 76%;

  box-sizing: border-box;
  padding: 20px;
  font-size: 13px;
  height: 90vh;
  overflow-y: scroll;
}
#faqr > .divs > p {
  width: 100%;
  background-color: #f1f1f1;
  height: 40px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 20px;
}
#faqr > .divs > div {
  margin-bottom: 20px;
}
.card {
  background-color: #f1f1f1;
}
.divs {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
}
.divs > p {
  font-weight: bold;
  padding: 25px 0px;
}
#faql > div {
  width: 90%;
  margin: auto;
  background-color: #f1f1f1;
  height: 45px;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#faqr > h4 {
  margin-bottom: 20px;
  color: #5a5959;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
a:hover {
  color: black;
}
#col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: crimson; */
  height: 50px;
}
#col > h4 {
  color: #5a5959;
  font-weight: bold;
}
#col > div {
  color: #2cbebc;
  font-size: 20px;
  font-weight: bold;
}
